.main {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  margin-top: 30px;
}

.button {
  width: 190px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 16pt;
  color: #b9c3cc;
  border-radius: 5px;
  margin: 0 20px;
  cursor: pointer;

  &:disabled {
    cursor: default;
    background: #b9c3cc;
    color: #ffffff;
  }
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.search-wrapper {
  height: 50px;
}
