.search-wrapper {
  width: 320px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search {
  width: 320px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 16pt;
  color: #b9c3cc;
  padding-left: 45px;
  border-radius: 5px;
}

.icon {
  position: absolute;
  top: -13%;
  left: -10px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  cursor: pointer;
}
